/* .container-fluid{

    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
} */

*{
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	/* background-color: #d2dbdd; */
}

#lsc_app{
	padding-top: 69px;
}
#lsc_app > section{
	padding-top: 20px;
	padding-bottom: 0px; 
}
#lsc_header_bar{
	/* position: fixed; */
	position: absolute;
	top: 0;
	left: 0;
	background:rgba(55,39,134,1);
	border-bottom: 0.5px solid #3e29a9;
	z-index: 999999; 

}
.lsc_page_title_row{
	font-size: 36px;
	padding-top: 5px;
	padding-bottom:20px; 
	color: rgba(255, 255, 255, 0.8);
	font-family: 'Abril Fatface', cursive;
	letter-spacing: 3px;

}
.lsc_page_title_row i{
		color: rgba(255, 255, 255, 1);

}
.lsc_page_title{
	text-align: center;
}
#lsc_header{
	
}
.lsc_series_meta_row{
	/* padding-top: 10px; */
	color: rgba(255, 255, 255, .9);
	background-color: rgba(55, 39, 139, .9);
	/* padding-bottom: 30px; */
	height:100px;
	padding-top: 12px;

}
.lsc_series_meta_row span
{
	display: block;
	text-align: center;
}
.lsc_series_meta_title{
	font-size: 20px;
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
}
.lsc_match_meta_row{
	text-align: center;
	font-size: 11px;
	color: rgba(255, 255, 255, .6);
	/* padding-top: 12px;  */
}
.lsc_team_right{
	text-align: center;
}
.lsc_team_right img{
	padding-top: 30px;
	/* background: red; */
}
.lsc_team_right .lsc_team_stat{
	padding-top: 30px;
}
.lsc_team_left{
	text-align: center;
}
.lsc_team_icon{
	width: 60%;
	padding: 6px;
	/* background-color: rgba(255, 255, 255, .9); */
}
.lsc_match_meta_row ul{
	padding: 0;
	padding-top: 15px;
}
.lsc_team_stat{
	/* list-style: none; */
	text-align: center;
}
.lsc_match_meta_row li{
	list-style: none;
	text-align: center;
	font-size: 20px;
} 
.lsc_match_score_meta{
	/* font-size: 15px; */
}
.lsc_match_score{
	margin-top: 60px;
	display: block;
	font-size: 50px;
	font-weight: bold;
	color: #ffffff;
}
.lsc_match_time{
	display: inline-block;
	background-color: #c92c2b;
	padding: 5px 11px;
	border-radius: 10px;
	font-size: 20px;
	margin-top: 14px;
}
/* }
.btn{
	padding-left: 50px;
	transform: translate(280%, -10%);
} */
	#lsc_footer{
		position: fixed;
		bottom: 0;
		background-color: #fff;
		padding: 0!important;
		padding-bottom: 30px !important;
		border-radius: 30px 30px 0 0;
		border:1px solid rgba(0, 0, 0, .05);
		z-index: 999999;


	}
	.lsc_footer_tabs ul{
padding: 0;
	}
	.lsc_footer_tabs ul li{
		list-style: none;
		float: left;
		width: 20%;
		text-align: center;
		font-size: 18px;
	}
		.lsc_footer_tabs ul li span{
		position: relative;
		display: inline-block;
		color: rgba(0, 0, 0, .9);
		}
.wrapper {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 200px;
}
/* .wrapper a{
position: relative;
transform: translate(-50%, -50%);
} */




